.development--container{
    max-width: 1520px!important;
    margin: 0 auto 100px auto;
}

.development-category-heading{
    margin: 0;
    color: var(--color-red);
    font-size: var(--section-heading-size);
    font-weight: var(--news-heading-weight);
    text-shadow: var(--section-heading-text-shadow);
}

.development-bg-red{
    background-color: var(--development-bg-color);
    padding: 0px;
    border-radius: 18px;
}

.development-more-btn{
    margin-top: 30px;
    margin-left: 10px;
}


/* .da_img{
    width: 100%;
    height: 237px;
} */
.development-bg-red a:hover{
    text-decoration: none;
}

.development h3{
    padding-left: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    color: #EE3039;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: underline;
    text-decoration-color: #EE3039;
    /* margin-left: 1.25rem; */
    margin-left: 2.25rem;
}
.development-col-tp{
    position: relative;
    max-width: 610px!important;
    /* background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)),url("../../../assets/images/Mambilla-Plateau.jpg")center/cover fixed no-repeat; */
    height: 450px;
    width:600px;
    margin: 0 auto;
    padding: 0px;
}
.bigframe--image{
    height: 100%;
    width: 90%;
    border-radius: 18px;
    object-fit: cover;
}

.development-left-side{
    position: relative;
    top: 20px;
    right: 30px;
}

.side--img{
    border: 6px solid #fff;
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.development-heading{
    margin: 10px 0px 10px 0px;
    line-height: 1.3;
    color: var(--color-white);
    font-size: var(--news-heading-size);
    font-weight: 600;
}

.development-description{
    font-size: var(--news-description-size);
}

/* reset the post description */
.development-text p em{
    font-style: normal  ;
}

.development-text{
    /* position: relative; */
    /* this make the discovery 4 images container equal with the big frame   */
    /* top: 50px;  */
    color: var(--color-white);
}
.obudu_4{
    position: relative;
    /* top: 55px; */
}
.development-col-tp p{
    color:#fff;
    font-style: italic;
    font-weight: 500;
    /* font-size: 56px;
    line-height: 92px; */
    font-size: 56px;
    line-height: 80px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    /* top: 25%;
    left: 2%; */
    top: 5%;
    left: 2%;
}

.development-card-txt{
    font-size: 50px;
    font-weight: bold;
}
.development-card-overl{
    top: 200px;
}

.development-crd-anc-tp span{
color: #FAFF00;
font-style: italic;
font-weight: 500;
font-size: 14px;
line-height: 16px;
}
.development-crd-anc-tp p{
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}
.development-sm-news p{
    width: 90%;  
}
.development-sm-news{
    justify-content: flex-end;
}
.development-sm-news .my-2{
    width: 280px;
}
.development-crd-lst{
    /* background-color:#fff; */
    padding-top: 0
}


@media screen and (max-width: 772px){
    .development h3{
        padding-left: 0;
        text-align: center;
        font-size: 24px;
    } 
    .development-card-overl{
        top: 20px;
    }
    .development-col-tp-bg p{
        font-size: 22px;
        line-height: 26px;
    }
    .development-col-tp{
        background-attachment: scroll;
    }
}