/* .contact.container {
  padding: 0 5%;
  z-index: 100;
  position: relative;
}

.contact-section {
  display: flex;
  box-sizing: border-box;
  padding: 10px 5%;
  width: 100%;
  background-color: white;
  
}

.contact-form > h3 {
  color: #f00;
  text-transform: capitalize;
  text-align: left;
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 65%;
  padding-right: 2%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  padding-bottom: 50px;
}

.contact-input {
  background-color: #e5e5e5;
  color: black;
  padding: 10px 20px;
  font-size: 16px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #bbb;
  margin-bottom: 15px;
}

.contact-input:focus {
  border-bottom: black 2px solid;
}

textarea.contact-input {
  width: 100%;
  height: 203px;
}

.contact-form > button {
  color: white;
  background-color: #f00;
  padding: 10px;
  border: none;
  display: inline-block;
  width: 40%;
}

.ads_contact{
  margin-top: 44px;
  margin-right: 15px;
}
.ads_contact-img{
  max-width: 310px;
  margin: 0 auto;
}
.ads_contact-img img{
  display: inline-block;
  max-width: 100%;
  margin: 0 0 0 10px;
}
@media screen and (max-width: 540px) {
  section.contact {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }
  .contact.container {
    padding: 0;
  }
  .contact-form{
    width: 100%;
  }
}
@media (max-width: 767.98px) {
  .contact-form{
    width: 100%;
  }
  section.contact {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }
}
@media (max-width: 575.98px) {

  section.contact {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }
  .contact.container {
    padding: 0;
  }
  .contact-header{
    background-position: center;
  }
  .hero .contact-us-heading {
    padding: 92px;
  }
  .hero .contact-us-heading h1{
    font-size: 18px;
    white-space: nowrap;
  }
  .hero .africa-auth{
    padding: 0px 0px 0px 0px !important;
    position: relative;
    top: 20px;
  }

}
@media (max-width: 411.98px) {
  .hero .africa-auth{
    padding: 0px 0px 0px 0px !important;
    position: relative;
    top: 20px;
    margin-right: 40px;
  }

  .hero .africa-auth #subscribe{
    width: 140px;
  }
}

@media (max-width: 290.98px) {
  .hero .africa-auth #subscribe{
    width: 110px;
  }
} */
.contact-section {
  /* border: 2px solid red; */
  display: block;
  width: 100%;
  margin: 0;
  padding: 0 1rem;
}
.contact-wrapper {
  /* border: 2px solid red; */
}
.contact-page-main {
  /* border: 2px solid red; */
  display: block;
  width: 100%;
  margin-top: -320px;
}

.contact-heading {
  font-size: 2.25rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  display: block;
  width: 100%;
  margin-bottom: 4.5rem;
  color: #fff;
}
.contact-board {
  /* border: 2px solid red; */
  background-color: #fff;
  padding: 2rem;
  margin: 0;
  width: 100%;
  display: block;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
}
.contact-board-heading {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: red;
  margin-bottom: 1.5rem;
  width: 100%;
  display: block;
}
.contact-board-content-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
}

.contact-form-wrapper {
  width: 100%;
  display: block;
}
.contact-form-ads {
  display: block;
  width: 100%;
}
.form-group-contact {
  width: 100%;
  display: block;
  margin-bottom: 2rem;
  position: relative;
}
.contact-form-btn {
  color: #fff;
  background-color: red;
  border: none;
  outline: none;
  padding: 0.5rem;
}
.contact-form-btn-container {
  width: 100%;
  display: block;
}
.ads-contact {
  display: block;
  width: 100%;
}
.ads-contact-img {
  width: 100%;
}
.contact-board-img-ad {
  width: 100%;
  object-fit: cover;
}

@media (max-width: 762px) {
  .contact-board-content-grid {
    grid-template-columns: 1fr;
    gap: unset;
  }
}
