#faq{
    position: relative;
    top: 150px;
    margin-bottom: 100rem;
}

#faq .question{
    color: var(--pod-black-1);
}

#faq button{
    outline: none;
    box-shadow: none;
}

#faq .card-body{
    padding: 2rem;
}