.must-read-container {
  margin-top: 26px;
  padding: 0px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.must-read-container div {
  border: 1px solid var(--reader-border-color);
  width: 300px;
}

.post-info,
.must-read-text,
.must-read-text-2 {
  padding: 0px 9px;
}

.must-read {
  margin-top: 10px;
  border-bottom: 1px solid #ccc;
}

.must-read strong {
  font-weight: normal;
}

.must-read-type {
  background: var(--must-read-tag-btn-bg);
  color: var(--color-white);
  /* padding: 3px 9px; */
  padding: inherit;
  /* line-height: 1.2; */
  text-transform: capitalize;
}

.must-read .must-read-date {
  color: var(--color-red);
  font-weight: 900;
  white-space: nowrap;
  padding-left: 2px;
}

.must-read-text {
  margin-top: 10px;
  margin-bottom: 3px;
}

.must-read-heading a {
  margin: 10px 0px;
  color: var(--news-heading);
  font-size: 15px;
  font-weight: var(--news-heading-weight);
  line-height: 1px;
}

/* reset em */
.must-read-description a p em {
  font-style: normal;
}

.must-read-heading a:hover {
  color: var(--color-red) !important;
  position: relative;
}

.must-read-description a p,
.must-read-description a,
.must-read-description a ol {
  font-size: 13px;
  color: var(--news-heading);
  list-style-type: none;
  font-weight: var(--news-description-weight);
}
