.category-comp-heading {
  padding: 1rem;
  display: block;
  margin-top: 119px;
  z-index: 2;
  background-color: #fff;
  color: #000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 6px 5px -2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 6px 5px -2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 6px 5px -2px rgba(0, 0, 0, 0.1);
}
.category-header {
  margin: 0;
  text-align: center;
  display: block;
  text-transform: uppercase;
}

.cat-section {
  margin-top: 170px;
}

.categ-content {
  width: 100%;
  display: block;
  background: #f3efef;
  color: #000;
  margin: 1.5rem 0;
}
.categ-content-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 3.5rem;
  padding: 1rem;
}
.cat-right-content {
  width: 100%;
  display: block;
}
.cate-content-list {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: #000;
  position: relative;
  margin: 0 0 2rem 0;
}

.cate-content-list > * + * {
  margin: 0 0 0 1.5rem;
}

.cate-content-list:hover {
  color: #000;
}
.cat-content-list-item-img-cont {
  width: 14rem;
  height: 8rem;
  position: relative;
}

.cat-content-list-item-img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.cat-content-list-item-detail {
  width: 100%;
  height: 100%;
  display: block;
}
.cat-content-list-item-detail-heading {
  text-align: left;
}
.cat-content-list-item-detail-text {
  font-size: inherit;
  text-align: left;
  line-height: 30px;
}
.cat-content-list-item-detail-text p {
  margin: 0;
}
.cat-content-list-item-detail-text h3 {
  font-weight: normal;
  font-size: clamp(0.688rem, 2vw, 0.8rem);
}
.load-more {
  border: none;
  background-color: red;
  padding: 0.3rem 0.5rem;
  color: #fff;
  display: block;
}
.cat-news-left-content {
  display: block;
  width: 100%;
}
.trending-card {
  color: #000;
}

.trending-card:hover {
  color: #000;
}
.trending-posts {
  width: 100%;
  display: block;
}
.trend-img-container {
  width: 100%;
  display: block;
}

.trend-img {
  width: 100%;
  display: block;
}
.cat-left-heading {
  text-transform: uppercase;
  border: 2px solid red;
  margin-bottom: 1rem;
  text-align: center;
  background-color: red;
  padding: 0.4rem 0.7rem;
  color: #fff;
  text-align: center;
  width: auto;
  border-radius: 0.7rem;
}

@media (max-width: 1250px) {
  .category-comp-heading {
    margin-top: 90px;
    padding: unset;
    display: inline-block;
    /* z-index: 999; */
    top: -3.8%;
    left: 50%;
    box-shadow: unset;
    -webkit-box-shadow: unset;
    -moz-box-shadow: unset;
    transform: translateX(-35%);
    right: unset;
  }
  .cat-section {
    margin-top: 112px;
  }
}

@media (max-width: 993px) {
  .categ-content-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 560px) {
  .cate-content-list {
    margin: 0 0 2.9rem 0;
    flex-direction: column;
    justify-content: center;
  }
  .cate-content-list > * + * {
    margin: 2rem 0 0 0;
  }
  .cat-content-list-item-img-cont {
    width: 100%;
    height: 250px;
  }
}

@media (max-width: 500px) {
  .cat-section {
    margin-top: 112px;
  }
}
