.register-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  width: 100%;
}
.reg-nav-list {
  display: flex;
  align-items: center;
  justify-content: stretch;
}

.reg-nav-list > * + * {
  margin: 0 0 0 1.5rem;
}

.reg-nav-list-item {
  display: block;
}

.reg-signup {
  display: block;
  width: 100%;
  font-weight: bold;
  color: #fff;
  font-size: clamp(0.9rem, 2.5vw, 1.2rem);
  text-transform: capitalize;
}
.reg-signup:hover {
  color: #fff;
}

.reg-subscribe {
  display: block;
  width: 100%;
  font-weight: bold;
  color: red;
  font-size: clamp(0.9rem, 2.5vw, 1.2rem);
  text-transform: capitalize;
  background-color: #fff;
  padding: 0.3rem 1rem;
}

.reg-subscribe:hover {
  color: red;
}
.reg-logo {
  object-fit: cover;
  display: block;
  width: 150px;
  height: 70px;
}
@media (max-width: 500px) {
  .register-nav {
    flex-direction: column;
    justify-content: stretch;
  }

  .register-nav > * + * {
    margin: 2rem 0 0 0;
  }
  .reg-nav-list > * + * {
    margin: 0 0 0 1rem;
  }
}
