.footer-section {
  display: block;
  background-color: #000;
  margin-left: 0;
  margin-right: 0;
  padding: 10px 12px;
  color: #fff;
}

.footer-wrapper {
  max-width: 78.125rem;
  margin: 0 auto;
  display: block;
  padding: 1rem;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  grid-gap: 1rem !important;
}

.footer-grid {
  display: block;
  width: 100%;
}

.footer-heading {
  display: inline-block;
  padding: 0.5rem 1.2rem;
  background-color: red;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: clamp(0.8rem, 2vw, 1rem);
}

.footer-list {
  display: block;
  padding: 0.3rem 0;
  width: 100%;
}
.footer-list-item {
  margin: 0.5rem 0;
  width: 100%;
}
.footer-link {
  color: #999999;
  font-size: clamp(0.85rem, 2vw, 1rem);
}
.footer-link:hover {
  color: #fff;
}
.img-footer-cont {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 1rem 0;
}

.img-google-container,
.img-apple-container {
  width: 100%;
  display: block;
}

.google,
.apple {
  width: 110px;
  object-fit: cover;
  border: 1px solid #fff;
  border-radius: 5px;
}

.download-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 1rem 0;
  padding: 0.5rem 0;
}

.download-list > * + * {
  margin: 0 0 0 0.5rem;
}

.download-list-item {
  display: block;
  width: 100%;
}

.download-link {
  color: #fff;
  font-size: clamp(1.1rem, 3vw, 1.35rem);
}
.copy-right-red {
  color: red;
  display: inline-block;
}
.copy-right-red:hover {
  color: red;
}

.copy-rights {
  font-size: inherit;
}

@media (max-width: 993px) {
  .footer-wrapper {
    max-width: unset;
    margin: unset;
    padding: unset;
  }
  .footer-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    grid-gap: 1rem !important;
    margin-top: 1rem;
    padding: 0.5rem;
  }
  .footer-grid {
    margin-bottom: 1.5rem;
  }
  .footer-grid:last-child {
    margin-bottom: unset;
  }
  .img-google-container,
  .img-apple-container {
    width: auto;
    display: inline-block;
  }
  .img-footer-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .img-footer-cont > * + * {
    margin: 1rem 0 0 0;
  }
  .download-list {
    justify-content: center;
  }
  .download-list-item {
    display: unset;
    width: auto;
  }
  .rights {
    text-align: center;
  }
}

@media (max-width: 685px) {
  .footer-content {
    display: grid;
    grid-template-columns: 12rem 11rem;
    justify-content: space-between;
  }
}
