.subscribe-page {
  display: block;
  width: 100%;
  height: 100%;
}
.subscribe-header,
.subscribe-main {
  display: block;
  margin-left: 0;
  margin-right: 0;
  padding: 10px 12px;
  width: 100%;
}
.subscribe-header {
  height: 340px;
  background-color: #000;
}
.subscribe-wrapper {
  width: 100%;
  height: 100%;
}
.subscribe-heading {
  font-weight: bold;
  display: block;
  width: 100%;
  margin: 1.9rem 0;
  font-size: clamp(1.5rem, 3.5vw, 2.5rem);
}
.subscribe-board {
  max-width: 69.188rem;
  height: 49.063rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: -8rem;
  background: linear-gradient(rgba(85, 22, 22, 0.5), rgba(85, 22, 22, 0.5)),
    url('../../assets/images/elephant.jpg') center/cover scroll no-repeat;
  background: linear-gradient(rgba(234, 46, 46, 0.5), rgba(234, 46, 46, 0.6)),
    url('../../assets/images/elephant.jpg') center/cover scroll no-repeat;
  position: relative;
}
.subscribe-board::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: inset 30px 50px 150px #000000, inset -30px -50px 150px #000000;
}
.subscribe-main-content {
  position: relative;
  z-index: 10;
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}
.pay-currency-option {
  text-align: center;
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.pay-in-currency {
  margin-bottom: 1.5rem;
  display: block;
  width: 100%;
}
.sub-curency {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.sub-curency_ngn,
.sub-curency_usd {
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  font-weight: bold;
  border-radius: 5px;
}
.sub-curency_ngn:hover,
.sub-curency_usd:hover {
  opacity: 0.9;
}
.sub-curency_ngn {
  background-color: rgb(2, 78, 2);
  color: #fff;
}
.sub-curency_usd {
  background-color: red;
  color: #fff;
}

.subscirbe-flex-cards {
  padding: 0 7.125rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
}
.subscription-cards {
  padding: 1.5rem;
  background-color: #fff;
  color: #000;
  text-align: center;
}
.subscribtion-header {
  font-size: 18px;
  line-height: 21px;
  font-weight: 600;
  margin-bottom: 1.2rem;
}
.subscription-desc {
  font-size: 14px;
  font-weight: 300;
}
.pricing {
  color: red;
  font-weight: bold;
  font-size: 1.5rem;
}
.monthly-pricing {
  font-size: 12px;
  line-height: 14px;
  display: block;
}
.subscription-btn {
  border: none;
  margin-top: 0.7rem;
  padding: 0.5rem;
  border-radius: 7px;
  outline: none;
  background-color: red;
  color: #fff;
  display: block;
  width: 100%;
}
.subscription-btn:hover {
  opacity: 0.9;
  color: #fff;
}

@media (max-width: 993px) {
  .subscirbe-flex-cards {
    padding: 2rem 7.125rem;
    display: block;
  }
  .subscribe-main-content {
    display: block;
  }
  .subscription-cards {
    margin-bottom: 1.3rem;
  }
  .subscribe-board {
    height: 70.063rem;
  }
  .pay-currency-option {
    padding-top: 3rem;
    padding-bottom: 1rem;
  }
}
@media (max-width: 650px) {
  .subscirbe-flex-cards {
    padding: 2rem;
  }
  .subscribe-board {
    max-width: unset;
    width: 100%;
    height: 78.063rem;
  }
  .subscribe-heading {
    margin: 3.5rem 0 0 0;
  }
}

@media (max-width: 500px) {
  .subscribe-board {
    margin-top: -4rem;
  }
}
