.privacy-container {
  margin-top: 130px;
}
.privacy-header-component {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 1.8rem 0;
}
.privacy-border-red {
  text-align: center;
  border-bottom: 3px solid red;
  margin: 0 auto;
  display: inline-block;
}
.license-list {
  list-style: decimal;
  list-style-position: inside;
}
.license-list-item {
  margin-bottom: 0.5rem;
}
.license-list-item:last-child {
  margin-bottom: 0;
}
.privacy-terms {
  margin-bottom: 1.5rem;
  display: block;
  width: 100%;
  text-align: left;
}
.privacy-terms:last-child {
  margin-bottom: 0;
}
@media (max-width: 1250px) {
  .privacy-container {
    margin-top: 110px;
  }
}
