/* .bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
}

.bar__time{
    padding: 0px 10px;
}


.bar__progress{
    height: 20px;
    width: 100%;
}


.controls{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
} */