.current-podcast-header-bg {
  border-bottom: 2px solid #8a8787;
  margin-left: 0;
  margin-right: 0;
  padding: 1rem 0;
}
.current-podcast-heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
  text-align: left;
}
.current-pod-header-img-cont {
  width: 15.625rem;
  height: 15rem;
  display: block;
}
.pod-detials-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.pod-header-showcase-right {
  display: block;
  margin: 0;
}
.pod-header-h2 {
  font-weight: 700;
  font-size: clamp(1.5rem, 2.5vw, 3rem);
  margin: 0;
  display: block;
  width: 100%;
}
.pod-header-child {
  font-weight: 100;
  display: block;
  color: #8a8787;
}
.pod-collection-tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  margin-bottom: 0.5rem;
}

.pod-tag {
  padding: 0.2rem 0.35rem;
  background-color: #8a8787;
  font-weight: lighter;
}
.pod-episode-count {
  font-weight: 100;
  color: #8a8787;
}
.pod-details-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  margin: 1rem 0;
}
.pod-details-right-grid {
  width: 100%;
  display: block;
  padding: 0;
  margin: 0;
}
.pod-episode-card {
  display: grid;
  grid-template-columns: 0.5fr 2.5fr;
  text-align: left;
  margin-bottom: 1.5rem;
  gap: 1.5rem;
  border-top: 2px solid #8a8787;
  border-bottom: 2px solid #8a8787;
  padding: 1rem 0;
}
.pod-episode-card:first-child {
  border-top: unset;
}
.pod-episode-details {
  text-align: left;
  width: 100%;
  display: block;
}
.pod-episode-card-img-container {
  width: 10rem;
  display: block;
}
.pod-episode-card-img {
  width: 100%;
  display: block;
  object-fit: cover;
}
.pod-episode-track-name {
  font-size: clamp(0.8rem, 2.5vw, 0.9rem);
  width: 100%;
  display: block;
}
.pod-episode-desc {
  margin: 1.3rem 0 0 0;
  display: block;
  text-align: left;
  color: #bab8b8;
}
.pod-read-more {
  background-color: transparent;
  text-decoration: underline;
  border: none;
  outline: none;
  color: #fff;
}
.pod-pause-play-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 1rem 0 0 0;
  gap: 1rem;
}
.pod-play-button {
  border: none;
  background-color: transparent;
  outline: none;
}
@media(max-width: 650px){
  .current-podcast-heading {
    display: block;
  }
  .current-pod-header-img-cont {
    width: 100%;
    display: block;
    margin-bottom: 1.5rem;
  }
}

@media(max-width: 685px){
  .pod-episode-card {
    display: block;
  }
  .pod-episode-card-img-container {
    width: 100%;
    height: 280px;
    margin-bottom: 1.5rem;
  }
  .pod-episode-card-img {
    height: 100%;
    object-fit: cover;
  }
}

@media(max-width: 860px){
  .pod-details-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin: 1rem 0;
  }
  .pod-details-left-grid{
    grid-row: 1;
    margin-bottom: 1rem;
  }
}