.contact-header,
.reg-sub-header,
.about-us-header {
  height: 24rem;
  width: 100%;
  position: relative;
  display: block;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
}

.reg-sub-header {
  background: black;
  padding: 1rem;
}
.contact-header {
  background: linear-gradient(rgba(85, 22, 22, 0.5), rgba(85, 22, 22, 0.5)),
    url('./herocontact.png') center/cover scroll no-repeat;
  background: linear-gradient(rgba(234, 46, 46, 0.5), rgba(234, 46, 46, 0.6)),
    url('./herocontact.png') center/cover scroll no-repeat;
  padding: 0 1rem;
}
.about-us-header {
  background: linear-gradient(rgba(22, 7, 233, 0.541), rgba(51, 65, 126, 0.61)),
    url('../../../assets/images/discoverbanner.jpg') top/cover scroll no-repeat;
  padding: 0 1rem;
  margin: 0;
}
