.contact-header {
  height: 24rem;
  width: 100%;
  position: relative;
  background: linear-gradient(rgba(85, 22, 22, 0.5), rgba(85, 22, 22, 0.5)),
    url('./herocontact.png') center/cover scroll no-repeat;
  background: linear-gradient(rgba(234, 46, 46, 0.5), rgba(234, 46, 46, 0.6)),
    url('./herocontact.png') center/cover scroll no-repeat;
  display: block;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  padding: 0 1rem;
}
