.lifestyle {
    margin-top: 50px;
    margin-bottom: 200px
}

.lifestyle-top-left {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)),
        url("../../../assets/images/lifestyle.js.png")center/cover no-repeat;
    /* background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)),
        url("../../../assets/images/tech_1.jpg")center/cover no-repeat; */
        /* width: 1084px; */
    /* height: 430px; */
    height: 310px;
    width: 100%;
    padding: 30px;
}

.lifestyle-top-right {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)),
        url("../../../assets/images/widget_banner.png")top/cover no-repeat;
    width: 255px;
    padding: 30px;
    height: 318px;
}

@media(max-width: 400px){
    .lifestyle-top-left {
        /* width: %; */
        padding: 30px;
    }
    
    .lifestyle-top-right {
        /* background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)),
            url("../../../assets/images/widget_banner.png")top/cover no-repeat;
        width: 255px;
        padding: 30px;
        height: 318px; */
    }
}

.lifestyle-bottom-left {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* justify-content: center; */
    padding-left: 20px;
}

.lifestyle-top {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: top;
}

.lifestyle-sq {
    width: 296px;
}

.lifestyle-bottom {
    display: flex;
    justify-content: space-between;
    align-items: top;
    position: relative;
    bottom: 50px;
}

.lifestyle-crd-img {
    /* height: 277px; */
    height: 100%;
    width: 100%;
    display: inline-block;
    border: 6px solid #FFFFFF;
    object-fit: cover;

}
.lifestyle-crd{
    border: none;
    box-shadow: none;
    padding: 20px;
    width: 250px;
    height: 250px;
}
.lifestyle-crd-caption{
    margin-left: -1.25rem;
    color: #000000;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    /* padding-top: 10px; */
    text-align: center;
    font-size: 18px;
    text-transform: capitalize;
}
.tch-anchor:hover,
.lifestyle-crd-caption:hover{
    text-decoration: none;
    color: #EE3039;
}

.lifestyle-category-heading{
    margin: 0;
    margin-bottom: 9px;
    color: var(--color-red);
    font-size: var(--section-heading-size);
    font-weight: var(--news-heading-weight);
    text-shadow: var(--section-heading-text-shadow);
    border-bottom: 1px solid var(--color-red);
    width: fit-content;
}

.lifestyle-text{
    padding: 5px 20px;
    text-align: left;
}

.lifestyle-text .lifestyle-heading{
    margin: 10px 0px 10px 0px;
    line-height: 1.3;
    color: var(--lifestyle-news-heading-color);
    font-size: var(--news-heading-size);
    font-weight: var(--news-heading-weight);
}

.lifestyle-text .lifestyle-description{
    color:var(--news-description-color);
    font-size: var(--news-description-size);
    font-weight: var(--news-description-weight);
    text-align: left;
}

.lifestyle-text .lifestyle-description p{
    margin-top: 10px;
    height: 100px;
    overflow: hidden;
}
/* reset em */
.lifestyle-text .lifestyle-description p em{
    font-style: normal;
}

.lifestyle-more-btn{
    position: relative;
    top: 10rem;
    /* left: 5rem */
}


@media screen and (max-width: 772px) {
    .lifestyle {
        margin: 30px auto;
    }
}



/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    .lifestyle{
        /* background-color: green; */
    }
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .lifestyle{
        /* background-color: pink; */
    }
    .lifestyle-sq{
        padding: 0px;
    }
    .lifestyle-bottom-left{
        padding-left: 0px;
    }
    .lifestyle-crd{
        height: 200px;
    }
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .lifestyle{
        /* background-color: blue; */
    }
    .lifestyle-crd{
        height: 100%;
    }
    .lifestyle-crd-img{
        height: 200px;
    }
    .lifestyle-sq{
        padding: 0px 80px;
        margin-bottom: 100px;

    }
    .lifestyle-crd{
        width: 100%;
    }

}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .lifestyle{
        /* background-color: red; */
    }
    .lifestyle-more-btn{
        position: relative;
        top: 0rem !important;
        left: 5.6rem !important;
        display: inline;
    }
}

@media (max-width: 400.98px) {
    .lifestyle-sq{
        padding: 0px 20px 0px 40px;
        margin-bottom: 20px;
    }
    .lifestyle-crd-img{
        height: 150px !important;
        /* width: 150px !important; */
    }
    .lifestyle-crd{
        /* height:350px; */
        margin-bottom: 25px;
    }
    .lifestyle-more-btn{
        position: relative;
        top: 0rem !important;
        left: 3rem !important;
        top: -2rem !important;
        left: 7rem !important;
    }
}

