/* News */

.news{
    padding-top: 180px;
    font-size: 24px;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    
}

.news img{
    width: 600px;
}

.post_title{
    font-size: 28px;
    line-height: 32px;
    text-align: center;
    text-transform: capitalize;
    text-decoration: underline;
    padding-bottom: 20px;
    padding-top: 20px;
    font-weight: 600;
}
.img-txt-wrap{
    float: left;
    margin: 10px;
}
.text-wrap{
    font-size: 18px;
    font-weight: lighter;
    padding: 5px;
    line-height: 1.5;
    letter-spacing: -0.3;
    font-weight: lighter;
    text-rendering: optimizeLegibility;

}
@media screen and (max-width: 772px){
    .news img{
        width: 300px;
        margin: 15px 0 !important;
    }
    .text-wrap{
        font-size: 20px;
        font-size: 16px !important;
        line-height: 1.5;
        text-rendering: optimizeLegibility;
        padding: 0px;
        max-width: 95%;
        margin: 0 auto;
    
    }
    .post_img{
        width: 300px;
    }
    .post_title{
        font-size: 22px;
        line-height: 28px;
    }
}

/* form */
.comment-form{
    display: flex;
    flex-direction: column;
    width: 50%;
    font-family: 'Roboto', sans-serif;
}
.comment-form label{
    text-transform: capitalize;
    padding: 10px 0 5px 0;
    font-weight: 500;
    font-size: 18px;
}
.comment-form textarea::placeholder{
    font-size: 15px;
    padding-left: 10px;
}
.comment-form input, textarea{
    font-size: 15px;
    padding-left: 5px;
    border: 1px solid #555 !important;
}
.comment-form .btn-submit{
    margin-top: 20px;
    display: inline-block;
    background: #F83D3D;
    color: #fff;
    border: 1px solid #F83D3D;
    border-radius: 10px;
    padding: 5px 0;
}
.comment-form .btn-submit:hover{
    color: #F83D3D;
    background: #fff;
}
@media screen and (max-width:540px){
    .news{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .comment--feed{
        align-self: baseline;
    }

    .comment-form{
        width: 95%;
        /* padding: 10px; */
        margin: 0 auto;
    } 
}

/* shares */
.news-icons{
    /* padding: 20px 0; */
    margin-left: 1px;
}
.news-icons h4{
    font-size: 17px;
    padding: 10px
}
.d{
    margin: 0 15px;
    padding: 5px;
    border-radius: 5px;
}
.fb{
    color: #29487d;
    background-color: #fff;
}
.twt{
    color: #00acee;
    background-color: #fff;
}
.lnk{
    color: #0e76a8;
    background-color: #fff;
}
.link{
    text-decoration: none;
}
