/* News */

.news{
    padding-top: 180px;
    font-size: 24px;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    /* font-family: Spectral-Light; */

    
}

.news img{
    /* width: 600px; */
    /* width: 380px; */
    width: 400px;
    /* width: 100%; */
    object-fit: cover;
    height: 300px;
}

.post_title{
    /* font-size: 28px; */
    font-size: 25px;
    line-height: 32px;
    text-align: center;
    text-transform: capitalize;
    text-decoration: underline;
    padding-bottom: 20px;
    padding-top: 20px;
    font-weight: 600;
}
.img-txt-wrap{
    float: left;
    margin: 10px;
}
.text-wrap{
    font-size: 18px;
    font-weight: lighter;
    padding: 5px;
    line-height: 1.5;
    letter-spacing: -0.3;
    font-weight: lighter;
    text-rendering: optimizeLegibility;

}
@media screen and (max-width: 772px){
    .news img{
        width: 300px;
        margin: 15px 0 !important;
    }
    .text-wrap{
        font-size: 20px;
        font-size: 16px !important;
        line-height: 1.5;
        text-rendering: optimizeLegibility;
        padding: 0px;
        max-width: 95%;
        margin: 0 auto;
    
    }
    .post_img{
        width: 300px;
    }
    .post_title{
        font-size: 22px;
        line-height: 28px;
    }
}

/* form */
.comment-form{
    display: flex;
    flex-direction: column;
    width: 50%;
    font-family: 'Roboto', sans-serif;
}
.comment--feed{
    font-size: 0.8865rem;
    line-height: 1.97406;
}
.comment--feed .card{
    margin: 25px 0px;
}
.comment--feed h4{
    /* border-bottom: 2px solid #000; */
    padding: 0 0 5px 0;
    margin: 0 0 5px 0;
    display: inline-block;
    font-weight: 600;
    font-size: 23px;
    color: #111111;
    text-transform: uppercase;
    width: 135px;
    margin-bottom: 0.875rem;
    font-size: 1.323rem;
    line-height: 1.32275;
}
.comment--feed .commenter{
    font-weight: 600;
    font-size: 23px;
}
.comment--feed p.comment{
    color: #363636;
    font-weight: 500;
    font-size: 0.8865rem;
    line-height: 1.97406;
    max-width: 600px;
}
.comment--feed .comment-date{
    color: #757575;
    font-size: 0.851rem;
    line-height: 2.0564;
}

.drop-comment-text{
    font-size: 18px;
    font-weight: 400;
}
.comment-form label{
    text-transform: capitalize;
    padding: 10px 0 5px 0;
    font-weight: 500;
    font-size: 18px;
}
.comment-form textarea::placeholder{
    font-size: 15px;
    /* padding-left: 10px; */
}
.comment-form input, textarea{
    font-size: 15px;
    padding-left: 5px;
    border: 1px solid #979797 !important;
}
.comment-form .btn-submit{
    margin-top: 20px;
    display: inline-block;
    background: #e7332b;
    color: #fff;
    border: 1px solid transparent !important;
    border-radius: 10px;
    padding: 5px 0;
}
.comment-form .btn-submit:hover{
    opacity: 0.9;
}

@media screen and (max-width:540px){
    .news{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .comment--feed{
        align-self: baseline;
    }

    .comment-form{
        width: 95%;
        /* padding: 10px; */
        margin: 0 auto;
    } 
    .comment--feed .commenter{
        font-weight: 600;
        font-size: 20px;
    }
    .comment--feed p.comment{
        font-size: 17px;
        text-align: left;
    }
    .comment--feed .comment-date{
        font-size: 13px;
    }
}

/* shares */
.news-icons{
    /* padding: 20px 0; */
    margin-left: 1px;
}
.news-icons h4{
    font-size: 17px;
    padding: 10px
}
.d{
    margin: 0 15px;
    padding: 5px;
    border-radius: 5px;
}
.fb{
    color: #29487d;
    background-color: #fff;
}
.twt{
    color: #00acee;
    background-color: #fff;
}
.lnk{
    color: #0e76a8;
    background-color: #fff;
}
.link{
    text-decoration: none;
}
