/* News */

.news{
    padding-top: 180px;
    font-family: var(--nimbus-font) !important;
    /* font-size: 24px; */
    /* line-height: 30px; */
    /* text-align: justify; */
    /* font-family: Spectral-Light; */

    
}

.news .news-body{
    padding-left: 28px;
}

.img-news-con{
    margin: 10px 30px 10px 0px;
}

.news-posted-date{
    font-weight: 800;
}

.news .news-body img{
    /* width: 600px; */
    /* width: 380px; */
    /* width: 400px; */
    /* width: 100%; */
    /* height: 300px; */
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

.news-body .post_title{
    font-size: 20px;
    line-height: 1.5;
    text-align: left;
    color: #F20808;
    text-transform: capitalize;
    padding-bottom: 20px;
    padding-top: 20px;
    font-weight: 700;
    font-family: var(--nimbus-font);
}
.img-txt-wrap{
    /* float: left;
    margin: 10px; */

}
.text-wrap{
    font-size: 1.1rem;
    padding-right: 5px;
    line-height: 1.5;
    letter-spacing: -0.3;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    font-family: initial;
}

.text-wrap ol{
    padding: 0px 20px;
    line-height: 1.9;
}
@media screen and (max-width: 772px){
    .news img{
        width: 300px;
        margin: 15px 0 !important;
    }
    .text-wrap{
        font-size: 20px;
        font-size: 16px !important;
        line-height: 1.5;
        text-rendering: optimizeLegibility;
        padding: 0px;
        max-width: 90%;
        /* margin: 0 auto; */
    
    }
    .post_img{
        width: 300px;
    }
    .post_title{
        font-size: 22px;
        line-height: 28px;
    }
}


.news-reader-list{
    border: 1px solid var(--reader-border-color);
}





/* form */
.comment-form{
}
.comment--feed{
    margin-top: 20px;
}
.comment--feed .card{
    margin: 25px 0px;
}
.comment--feed h4{
    /* border-bottom: 2px solid #000; */
    padding: 0 0 5px 0;
    margin: 0 0 5px 0;
    display: inline-block;
    font-weight: 600;
    font-size: 23px;
    color: #111111;
    text-transform: uppercase;
    width: 135px;
    margin-bottom: 0.875rem;
    font-size: 1.323rem;
    line-height: 1.32275;
}
.comment--feed .commenter{
    font-weight: 600;
    font-size: 23px;
}
.comment--feed p.comment{
    color: #363636;
    font-weight: 500;
    font-size: 0.8865rem;
    line-height: 1.97406;
    max-width: 600px;
}
.comment--feed .comment-date{
    color: #757575;
    font-size: 0.851rem;
    line-height: 2.0564;
}

.drop-comment-text{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 6px;
    color: var(--color-red-2);
}
.comment-form label{
    text-transform: capitalize;
    padding: 10px 0 5px 0;
    font-weight: 500;
    font-size: 18px;
}
.comment-form textarea::placeholder{
    font-size: 15px;
    /* padding-left: 10px; */
}
.comment-form input, textarea{
    font-size: 15px;
    border: 1px solid #c0c0c0 !important;
    margin-bottom: 20px;
    color: #c0c0c0;
}

.comment-form .checkbox label{
    font-size: 13px;
    font-weight: 400;
    margin: 0px;

}
.comment-form .btn-submit{
    margin-top: 20px;
    display: inline-block;
    background: #e7332b;
    color: #fff;
    border: 1px solid transparent !important;
    /* border-radius: 10px; */
    padding: 5px 10px;
}
.comment-form .btn-submit:hover{
    opacity: 0.9;
}

@media screen and (max-width:540px){
    .news{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .comment--feed{
        align-self: baseline;
    }

    .comment-form{
        width: 95%;
        /* padding: 10px; */
        margin: 0 auto;
    } 
    .comment--feed .commenter{
        font-weight: 600;
        font-size: 20px;
    }
    .comment--feed p.comment{
        font-size: 17px;
        text-align: left;
    }
    .comment--feed .comment-date{
        font-size: 13px;
    }
}

/* shares */
.share-icons-container{
    margin-left: 1px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.share-icons-container span{
    font-weight: 800;
    font-size: 13px;
}
.share-news{
    margin-left: 10px;
}
.share-icon-wrap{
    padding: 5px;
    border-radius: 5px;
}
.share-icon-wrap .fab{
    cursor: pointer;
    font-weight: 900;
    background-color: #fff;
}
.fb{
    color: #29487d;
}
.twt{
    color: #00acee;
}
.lnk{
    color: #0e76a8;
    color: #000;
}
.wtsapp{
    color: green;
}
.insta{
    color: #e1306c;
}
.link{
    text-decoration: none;
}




/* next and previous artcle option section */
.up-next-container{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.up-next-container .previous-article{
    text-align: left;
}

.up-next-container .next-article{
    text-align: right;
}

.next-article-heading,
.previous-article-heading{
    color: var(--color-red-2);
    font-weight: 700;
    cursor: pointer;
}

.next-article-content,
.previous-article-content{
    color: var(--news-description-color);
    font-weight: var(--news-heading-weight);
}







/* the four teaser news */
.news-teaser-article{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

.news-teaser-article article{
    flex: 1 0 15.5%;
}

.news-teaser-img-wrap{
    margin: 4rem 0% 0.2rem 0%;
}

.news-teaser-img-wrap img{
    padding: 8px 12px 8px 0px   ;
    /* padding: 8px 12px; */
    width: 100%;
    height: 140px;
    object-fit: cover;
}

.news-teaser-heading{
    /* padding-left: 8px; */
    padding-right: 18px;
    font-size: var(--news-description-size);
}