.cookie-txt {
  width: 100%;
  margin: 50px 0 100px 0;
  padding-bottom: 10px;
}
.cookie-container p {
  font-size: 18px;
  line-height: 1.8;
  font-weight: 400;
  margin-bottom: 20px;
}

@media (max-width: 500px) {
  .cookie-container p {
    text-align: left;
  }
}
