.showcase {
  margin-top: 125px;
}
.caro-item:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6));
}
.caro-img-cover {
  object-fit: cover;
}
.car-p {
  margin: 1rem 0;
  font-size: 1.2rem;
}
.cap-ancor {
  background-color: #fff;
}

.cap-anco {
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 18px;
}

.caro-capxn a {
  float: left;
  clear: both;
  text-decoration: none;
  display: block;
}
.caro-capxn a:hover {
  color: red;
}

.cnt-txt-wrap {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6));
}

.cnt-txt-wrap a {
  float: left;
  clear: both;
  text-decoration: none;
  display: block;
}

.left-grid {
  padding-top: 0;
  padding-bottom: 0;
}

.carousel-control-next,
.carousel-control-prev {
  display: none;
}

.carousel-caption {
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1.25rem 1.25rem 1.25rem 3.188rem;
}

.cnt-2 {
  margin-top: 1.3rem;
}

.flex-container {
  width: 100%;
  height: 100%;
}
.ad-wrapper {
  display: block;
  margin-bottom: 1.3rem;
}

.caro-link {
  color: red;
  font-size: clamp(1.18rem, 2.5vw, 1.4rem);
  font-weight: 600;
}

.car-p {
  font-size: clamp(0.8rem, 2.5vw, 1.2rem);
}

.card-tag:hover {
  color: red;
}

.card-tag {
  background-color: #fff;
  color: red;
  font-weight: 600;
  position: absolute;
  top: 50%;
}

.card-msg {
  margin: 0.5rem 0 0 0;
  text-transform: capitalize;
  position: absolute;
  top: 70%;
}

.error-message {
  font-weight: bold;
  color: red;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  /* margin: 10rem auto 0 auto; */
}
@media (max-width: 560px) {
  .car-p {
    margin: 1rem 0 0 0;
  }

  .car-p {
    font-size: 1rem;
  }
  .caro-item {
    height: 280px;
  }
}
@media (max-width: 994px) {
  .right-grid {
    margin-bottom: 1.3rem;
  }
}
@media (max-width: 993px) {
  .carousel-caption {
    padding: 1rem;
  }
}
@media screen and (min-width: 992px) {
  .cnt-1,
  .cnt-2 {
    height: 13.375rem;
  }
  .cnt-2 {
    margin-top: 1.4rem;
  }
}
@media (min-width: 560px) {
  .caro-item {
    height: 450px;
  }
}
@media (max-width: 600px) {
  .carousel-caption {
    padding: 1.25rem;
  }
}
@media (max-width: 1250px) {
  .showcase {
    margin-top: 108px;
  }
}
@media (max-width: 350px) {
  .caro-link {
    font-size: inherit;
  }
}
