/* .top-navbar {
background: #4F4D4D;
}
.top-navbar .si{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    height: 40px;
    padding-top: 5px;
    padding-bottom: 7px;
    padding-right: 20px;
}

.welcome-btn{
    background: #ff0000;
    color: #ffffff;
    padding: 0px 5px;
    margin-left: 10px;
    margin-bottom: 0px;
}

.date-wrapper{
    padding: 10px;
    color: #ffffff;
}

.weather-wrapper{
    color: #ffffff;
    margin-bottom: -10px;
}

.social-icons{
    padding-top: 12px;
    margin-bottom: 7px;
}

.social-icons li{
    display: inline-block;
    padding: 6px 10px;
    font-size: 15px;
}

.social-icons i{
    display: inline-block;
    color: #ffffff;
    width: 15px;
    height: 14px;
}



.main-navbar{
    background: #000;
}
.main-navbar .si{
   color: #ffffff;
   display: flex;
   align-items: center;
   width: 100%;
   height: 81px;
}

.navbar-1{
    list-style: none;
    margin: 0px;
}

.si .loo{
    padding-left: 50px;
    padding-right: 120px;
}

.nav-item{
    display: inline;
    padding-right: 15px;
    font-size: 15px;
    font-weight: 500;
}

.link-section{
    margin-top: 0px;
    font-size: 13px;
}

.link-section button{
    margin: 0px 1px 0px 5px;
    padding: 3px 6px;
}

.si{
    width: 1260px;
    max-width: 1260px;
    background-color: yellow !important;
    margin-right: 100px;
    flex-grow: 1 1 auto;
} */