.viewpoint{
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 1500px;
    margin: 0 auto;
    padding-top: 30px;
}

.viewpoint-category-heading{
  display: flex;
  flex-direction: row;
  /* margin: 0; */
  color: var(--color-red);
  font-size: var(--section-heading-size);
  font-weight: var(--news-heading-weight);
  text-shadow: var(--section-heading-text-shadow);
}
.viewpoint-category-heading:before,
.viewpoint-category-heading:after{
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
}
.viewpoint-category-heading:before {
  margin-right: 10px
}
.viewpoint-category-heading:after {
  margin-left: 10px
}

.viewpoint-card-wrap{
    max-width: 1500px;
    margin: 0 auto;
}
.viewpoint h3{
    text-decoration: underline;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    color: #EE3039;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* margin-left: 1.5rem; */
}
.viewpoint-crd{
    /* background-color: #fff; */
    box-shadow: 0;
    border: 0;
    border-radius: 0 !important;
}
.sprt-txt{
    padding-left: 0!important;

}
.viewpoint-sec a{
    text-decoration: none;
    transition: transform 2s ease;
    height: 100%;
    max-width: 100%;
    color: #050505;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
}
.sprt-crd-img{
    width: 100%;
    height: 277px;  
}
.viewpoint-sec a:hover{
    /* transform: scale(0.9);
    transform: scale(0.8); */
    /* transform: scale(0.99);  */
    color: red;
    opacity: 0.8;
    cursor: pointer;
}

.premium_category_indicator--viewpoint{
    letter-spacing: normal;
    background-color: #DC143C;
    font-style: italic;
    color: white;
    text-transform: uppercase;
    font-weight: lighter;
    line-height: 1;
    font-size: 0.75rem;
    display: inline-block;
    padding: 7px 16px 6px 16px;
    border-radius: 2px;
    margin: 20px 0px 0px 0px;
    width: 90px;
    font-weight: 500;
    position: absolute;
    top: 8px;
    left: 25px;
}

@media(max-width: 400px){
    .sprt-crd-img{
        height: 200px;
        display: block;
        width: auto;
    }
    .premium_category_indicator--viewpoint{
        left: 0px;
        top: -5px;
    }
    .viewpoint-crd{
        margin-bottom: 15px;
    }
    .viewpoint-sec a{
        font-size: 16px;
        text-align: left;
    }
    .sprt-txt{
        padding-right: 9px!important;
        width: 120px;
    }

}
