.viewpoint{
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 1500px;
    margin: 0 auto;
    padding-top: 30px;
}

.viewpoint-category-heading{
  display: flex;
  flex-direction: row;
  /* margin: 0; */
  color: var(--color-red);
  font-size: var(--section-heading-size);
  font-weight: var(--news-heading-weight);
  text-shadow: var(--section-heading-text-shadow);
}
.viewpoint-category-heading:before,
.viewpoint-category-heading:after{
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
}
.viewpoint-category-heading:before {
  margin-right: 10px
}
.viewpoint-category-heading:after {
  margin-left: 10px
}

.viewpoint-card-wrap{
    max-width: 1500px;
    margin: 0 auto;
}
.viewpoint h3{
    text-decoration: underline;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    color: #EE3039;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* margin-left: 1.5rem; */
}
.viewpoint-crd{
    /* background-color: #fff; */
    box-shadow: 0;
    border: 0;
    border-radius: 0 !important;
}
.sprt-txt{
    padding-left: 0!important;

}

.viewpoint-sec:last-child{
    padding-right: 0;
}
.viewpoint-sec:first-child{
    padding-left: 0;
}

/* .viewpoint-sec a{
    text-decoration: none;
    transition: transform 2s ease;
    height: 100%;
    max-width: 100%;
    color: #050505;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
} */
.sprt-crd-img{
    width: 100%;
    height: 250px;  
    object-fit: cover;
}
.viewpoint-sec a:hover{
    /* transform: scale(0.9);
    transform: scale(0.8); */
    /* transform: scale(0.99);  */
    /* color: red;
    opacity: 0.8;
    cursor: pointer; */
}

.premium_category_indicator--viewpoint{
    position: absolute;
    top: 10px;
    left: 20px;
}

.viewpoint-text .card-text{
    margin-top: 20px;
}

.viewpoint-text .card-text .viewpoint-heading{
    text-decoration: none;
    font-size: var(--news-heading-size);
    font-weight: var(--news-heading-weight);
    color: var(--color-red);
    font-family: var(--nimbus-font);
    line-height: 21px;
    text-align: left;
    text-transform: lowercase;
}


.viewpoint-text .card-text .viewpoint-description{
    text-align: left;
    line-height: 1.3;
    font-size: var(--news-description-size);
    font-weight: var(--news-description-weight);
    color: var(--news-description-color);
    text-transform: capitalize;
}

.viewpoint-text .card-text .viewpoint-description p{
    margin-top: 10px;
}

@media(max-width: 400px){
    .sprt-crd-img{
        height: 200px;
        display: block;
        /* width: auto; */
    }
    .premium_category_indicator--viewpoint{
        left: 0px;
        top: -5px;
    }
    .viewpoint-crd{
        margin-bottom: 15px;
    }
    .viewpoint-sec a{
        font-size: 16px;
        text-align: left;
    }
    .sprt-txt{
        padding-right: 9px!important;
        width: 120px;
    }

}




/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    .viewpoint{
        /* background-color: green; */
    }
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .viewpoint{
        /* background-color: pink; */
    }
    .sprt-crd-img{
        height: 100px;
    }
    .viewpoint-text .card-text{
        margin-top: 10px;
    }

    .viewpoint-sec{
        padding-left: 0px;
    }
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .viewpoint{
        /* background-color: blue; */
    }
    .sprt-crd-img {
        width: 100%;
        height: 150px;
        object-fit: cover;
    }
    .viewpoint-category-heading{
        margin-bottom: 30px;
    }
}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .viewpoint{
        /* background-color: red; */
    }
}


@media (max-width: 400.98px) {
    .viewpoint{
        overflow: hidden;
    }
    .viewpoint-card-wrap{
        padding-right: 15px;
        padding-left: 15px;
        margin-left: 5px;
    }
    .sprt-crd-img{
        /* height: 150px !important;
        width: 150px !important; */
        
        height: 100px !important;
        width: 150px !important;
        padding: 0px 26px 0px 0px;
    }
    .premium_category_indicator--viewpoint{
        position: inherit;
        top: 0px;
        left: 20px;
        margin-top: 10px;
        margin-right: 200px;
    }
    .viewpoint-more-btn{
        position: relative;
        left: 20px;
    }
}

