h3 {
  margin: 0;
}
.navigation {
  box-sizing: border-box;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  width: 100%;
  white-space: nowrap;
  font-family: 'Poppins';
  z-index: 999;
  margin-bottom: 80px;
}

.navigation-header {
  background-color: #000;
  width: 100%;
  height: auto;
  color: #fff;
}

.header-wrapper {
  padding: 8px 132px 8px 66px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1475px) {
  .header-wrapper {
    padding: 14px 62px;
  }
}

@media (max-width: 1400px) {
  .header-wrapper {
    padding: 14px 12px;
  }
}

@media (max-width: 1250px) {
  .header-wrapper {
    padding: 0px 12px;
  }
}

ul.nav-links {
  flex: 1;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  gap: 0.8rem;
}

.cta-item a,
.nav-item a {
  color: #fff;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
}

.mobile-cta-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.mobile-cta-item a {
  color: #fff;
  line-height: 12px;
  text-transform: uppercase;
}

.cta-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  gap: 0.8rem;
}

.logo {
  width: 63px;
  height: 63px;
}

.img-container {
  margin-right: 2.438rem;
}

@media (max-width: 1250px) {
  .img-container {
    margin-right: unset;
  }
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

.subscribe {
  background-color: #ff0000;
  padding: 0px 2px 1px 2px;
  transition: all 0.3s ease-in-out;
  font-weight: 600;
}

.subscribe:hover {
  opacity: 0.9;
}

.hamburger {
  background: transparent;
  border: none;
  outline: none;
}

/*MOBILE NAV STYLING*/

.mobile-menu {
  position: fixed;
  left: 0;
  top: 6.474rem;
  width: 18rem;
  height: 100%;
  background-color: #000;
  color: #fff;
  transform: translateX(0%);
  transition: all 0.5s ease-in-out;
  z-index: 999;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.hide {
  transform: translateX(-100%);
}

.display {
  transform: translateX(0%);
}
.mobile-list {
  height: auto;
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

.mobile-list-item {
  width: 100%;
  border-top: 1px solid #555555;
  border-bottom: 1px solid #555555;
  margin: 10px 0;
  padding: 5px 0;
}

.mobile-list-item:hover {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.mobile-active {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.mobile-link-active {
  color: #fff;
}

.mobile-link-inactive {
  display: block;
  width: 100%;
  color: #999999;
  text-transform: uppercase;
}
.mobile-list-item a:hover {
  color: #fff;
}
