html, body{
    /* font-family: ; */
}

div.custom-container{
    padding-right: 50px !important;
    padding-left: 50px !important;
}

/* fonts */

.custom-categories-heading{
    font-size: 32px !important;
}

.custom-news-heading{

}
/* latest news */
.custom-news-title{
    font-weight: 500;
    line-height: 1.3;
    text-align: left;
    font-size: 16px !important;
}




@media (max-width: 930px){
    div.custom-container{
        padding-right: 15px !important;
        padding-left: 15px !important;
    }
    .custom-categories-heading{
        font-size: 23px !important;
    }
    /* latest news */
    .custom-news-title{
        font-size: 14px !important;
    }
    
}