.discover-cont{
  display: flex;
  justify-content: center;
  /* margin-right: 100px;
  margin-left: 100px; */
  margin-right: 58px;
  margin-left: 131px;
  /* position: relative; */
  /* bottom: 40px; */
  /* margin-top: 3  0px; */

}
.main-section-card {
  display: flex;
  box-sizing: border-box;
  border: none;
  padding: 0;
  color: black;
  /* height: 274px; */
  height: 200px;
  width: 100%;
  margin: auto;
  align-content: flex-start;
}

.image {
  /* align-self: flex-end; */
  width: 390px;

}
.card-caption{
  /* width: 50%; */
  align-self: flex-start;

}

.image > img {
  /* width: 390px;
  height: 274px; */
  /* width: 300px; */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-section-card > div {
  padding: 0 17px;
  margin: 0;
  /* width: 50%; */
  /* width: 40%; */
  /* width: 310px; */
  width: 304px;
  height: 177px;
}

.card-caption-title {
  color: #FF0000;
  font-weight: 700;
  line-height: 2rem;
  text-align: left;
  vertical-align: bottom;
  padding: 0;
  margin: 0;
  justify-content: flex-start;
  text-transform: capitalize;
  line-height: 1.6rem;
  font-size: 16px;
  margin-top: 10px;
}

.card-caption-content {
  color: #000000;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
  text-align: justify;
  text-align: left;
  text-transform: capitalize;
}

.main-section-card{
  margin-top: 10px!important;
  margin-bottom: 20px!important;
  /* hide read me when the text is longer */
  overflow: hidden;

}

.card-caption-content span{
  color: var(--color-red);
  font-size: 15px;
  text-transform: capitalize;
}
.card-caption-content p{
  padding-bottom: 12px;
}

.card-caption-content p ol{
  list-style: none;
}

@media(max-width: 1350px) {
  .image img{
    margin-bottom: 10px;
  }
  .card-caption-content {
    margin-bottom: 30px;
  }
}

@media(max-width: 576px) {
  .main-section-card > div{
    width: 330px;
  }
  .card-caption-content p{
    padding-bottom: 0px;
  }
  
}