div.discover-cont{
  display: flex;
}

section.discover {
  display: flex;
  /* background-color: #f3efef; */
  padding: 50px 0;
}
.left-pane {
  width: 60%;
}

.right-pane {
  background-color: white;
  padding: 6px 18px;
  text-align: left;
  width: 34%;
  border: 1px solid var(--reader-border-color);
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

.right-pane .must-read-text{
  margin-bottom: 10px;
}

.trend {
  background-color: #ff0000;
  text-align: center;
  color: white;
  padding: 4px 35px;
  border-radius: 10px;
  display: inline-block;
  margin:10px auto;
}

.right-pane > ul {
  text-align: left;
  list-style: none;
  padding: 0%;
}

.right-pane > ul li {
  margin-bottom: 20px;
}

.trend_list > a {
  color: black;
  text-decoration: none;
}

.trend_list > a:hover {
  color: red;
  text-decoration: none;
}



@media screen and (min-width: 1000px){
  .left-pane .card-unit{
    margin-top: 20px;
    margin-bottom: 20px
  }
  

  /* .right-pane{
    width: 100%;
  }
  .left-pane{
    width: 100%; */
  /* } */
}

.card-caption-title{
  margin-bottom: 5px !important;
}


@media screen and (max-width: 1350px){
  section.discover {
    /* flex-direction: column; */
  }
  .discover-cont{
    margin: 0px 30px;
  }

  .left-pane {
    /* width: 70%; */
  }
  .main-section-card {
    /* display: inline; */
  }
  

  .right-pane {
    /* width: 30%; */
  }
}
  @media screen and (max-width: 900px){ 
  section.discover{
    flex-direction: column;
   }

  .right-pane,
  .left-pane{
    width: 80%;
  }
  .trend{
    margin: 10px 0px 20px 0px;
  }
}

@media (max-width: 575.98px) {
  .main-section-card {
    display: inline;
  }
  .discover-cont {
    margin-left: 66px;
  }
}
/* @media screen and (max-width: 700px){
  .right-pane{
    width: 60%;
  }
  
} */
/* @media screen and (max-width: 540px) {
  section.discover {
    flex-direction: column;
  }

  .left-pane {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .right-pane {
    width: 100%;
  }
} */


/* 
@media screen and (min-width: 1000px){
  .left-pane .card-unit{
    margin-top: 20px;
    margin-bottom: 20px
  }
} */