.each-pod-category {
  width: 100%;
  display: block;
  margin-left: 0;
  margin-right: 0;
  color: black;
}

.pod-category-header {
  display: block;
  width: 100%;
  margin: 0 0 3rem 0;
}
.pod-header {
  color: black;
  margin: 0;
}
.pod-category-list {
  display: block;
  width: 100%;
}
.pod-collections {
  display: block;
  width: 100%;
  margin: 2rem 0;
  border-bottom: 7px solid #8a8787;
}
.pod-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1rem;
  border-bottom: 2px solid black;
  padding: 0 0 1.3rem 0;
}
.pod-img-container {
  width: 250px;
  height: 150px;
  display: block;
}
.pod-img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  box-shadow: 0 3px 5px rgb(0 0 0 / 40%);
}
.pod-collection-details {
  display: block;
  width: 100%;
  text-align: left;
  margin: 0;
  color: black;
}
.pod-text {
  color: black !important;
}
.pod-cta {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
}

.pod-cta > * + * {
  margin: 0 0 0 1.5rem;
}

.pod-btn {
  background: transparent;
  color: black;
  outline: none;
  padding: 0.2rem 0.5rem;
  font-weight: bold;
}
.play-button {
  border: 2px solid black;
  display: flex;
  align-items: center;
}

.play-button > * + * {
  margin: 0 0 0 0.5rem;
}


.pod-subscribe {
  border: none;
  background-color: red;
}
.pod-episodes {
  margin: 0.3rem 0;
  color: black;
  display: block;
  width: 100%;
}
.pod-episodes:hover {
  color: red;
}
.pod-text{
  line-height:30px;
}

@media(max-width:685px) {
  .pod-grid {
    display: block;
    grid-template-columns: unset;
    gap: unset;
  }
  .pod-img-container {
    width: 100%;
    height: 280px;
    margin-bottom: 1.5rem;
  }
}