.entertainment{
    max-width: 1520px!important;
    margin: 50px auto 200px auto;
}
.entertainment-bg-red{
    background-color: #ff0000;
    padding: 30px auto;
    height: 550px;
}
.entertainment-card-img{
    width: 100%;
    height: 150px;
    /* height: auto; */
    object-fit: cover;
}
.entertainment-bg-red a:hover{
    text-decoration: none;
}
.entertainment .entertainment-category-heading{
    text-align: center;
    color: var(--premium-tag-bg);
    font-size: 2rem;
    font-weight: var(--news-heading-weight);
    text-shadow: var(--section-heading-text-shadow);    
}
.premium_category_indicator--entertainment{
    border-radius: 2px;
    margin-bottom: 9px;
    font-weight: 500;
}
.entertainment-crd-lst .entertainment-description{
    font-size: var(--news-description-size);
    font-weight: var(--news-description-weight);
    color: var(--news-description-color);
    padding-bottom: 10px;
    position: absolute;
}

.entertainment-col-tp{
    /* background-color:#fff; */
    position: relative;
    top: 50px;
    max-width: 610px!important;
    /* background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)),url("../../../assets/images/Mambilla-Plateau.jpg")center/cover fixed no-repeat; */
    height: 550px;
    width:600px;
    /* background-repeat: no-repeat; */
    /* margin: 0 auto; */
    border: 12px solid #fff;
    /* height: 456px; */
    padding: 0px;
    
}

.entertainment .card, 
.entertainment .card img{
    height: 100%;
    border-radius: 0px;
}
.entertainment-col-tp .card .card-img-overlay{
    background: rgba(0,0,0,0.5);
    background-image: linear-gradient(135deg, rgba(#96deda, 0.5) 0%, rgba(#537895, 0.7) 100%);
    display: flex;
    align-items: flex-end;
}

.entertainment-col-tp p{
    color:#fff;
    font-style: italic;
    font-weight: 500;
    /* font-size: 56px;
    line-height: 92px; */
    font-size: 56px;
    font-size: 40px;
    /* line-height: 80px; */
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25);
    /* position: relative; */
    /* top: 25%;
    left: 2%; */
    /* top: 5%;
    left: 2%; */
}
.entertainment-col-bt{
    position: relative;
    /* this make the entertainment 4 images container equal with the big frame   */
    /* top: 50px;  */
}
.cal_3{
    position: relative;
    top: 50px;
}
.obudu_4{
    position: relative;
    top: 55px;
}

.entertainment-card-txt{
    font-size: 50px;
    font-weight: bold;
}
.entertainment-card-overl{
    top: 200px;
}
.entertainment-crd-anc-tp>div,
.entertainment-crd-anc-bt>div{
    border: 6px solid #fff;
}
.entertainment-crd-anc-tp span{
color: #FAFF00;
font-style: italic;
font-weight: 500;
font-size: 14px;
line-height: 16px;
}
.entertainment-crd-anc-tp p{
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}
.entertainment-sm-news p{
    width: 90%;  
}
.entertainment-sm-news{
    justify-content: flex-end;
}
.entertainment-sm-news .my-2{
    width: 280px;
}
.entertainment-crd-lst{
    background-color:#fff;
    padding-top: 0;
    height: 120px;
}
.entertainment-crd-lst span{
/* font-style: italic;
color: #FF0000;
font-weight: 500;
font-size: 14px;
line-height: 16px; */
}
.entertainment-crd-anc-bt p{
    /* color: #000;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px; */
}


.entertainment-more-btn{
    position: relative;
    top: 120px;
    left: 10px;
}

@media screen and (max-width: 772px){
    .entertainment h3{
        padding-left: 0;
        text-align: center;
        font-size: 24px;
    } 
    .entertainment-card-overl{
        top: 20px;
    }
    .entertainment-col-tp-bg p{
        font-size: 22px;
        line-height: 26px;
    }
    .entertainment-col-tp{
        background-attachment: scroll;
    }
}



/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    .entertainment{
        /* background-color: green; */
    }
    .entertainment .entertainment-crd-lst{
        height: 140px;
    }
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .entertainment{
        /* background-color: pink; */
    }

    .entertainment-crd-lst .entertainment-description{
        font-size: 13px;
    }

}
/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .entertainment{
        /* background-color: blue; */
    }
    .entertainment-sm-news{
        width: 500px;
        margin: 0;
        position: relative;
        left: 30px;
        bottom: 30px;
    }
    .entertainment-bg-red {
        margin-bottom: 565px;
    }
    .entertainment-crd-anc-tp>div,
    .entertainment-crd-anc-bt>div{
        width: 200px;
        margin-right: 10px;
    }
}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .entertainment{
        overflow: hidden;
        /* background-color: red; */
        margin: 55px auto -100px auto;
    }

    .entertainment-sm-news{
        width: 350px;
        margin: 0;
        padding: 0;
        left: unset;
        bottom: 30px;
    }
    .entertainment-crd-anc-tp>div,
    .entertainment-crd-anc-bt>div{
        width: 138px;
        margin-right: 0px;
    }

    .entertainment-col-tp{
        height: 300px;
    }
    .entertainment-col-tp p{
        color:#fff;
        font-style: italic;
        font-weight: 500;
        /* font-size: 56px;
        line-height: 92px; */
        font-size: 30px;
    }
    .entertainment-more-btn {
        position: relative;
        top: -150px;
        left: 50px;
    }
    
}
@media (max-width: 400.98px) {
    .entertainment{
        margin: 0px;
        margin-top: 50px;
        overflow: hidden;
    }
    .entertainment-crd-lst{
        background-color:#fff;
        padding-top: 0;
        padding: 0px;
    }
    .entertainment-crd-anc-tp>div,
    .entertainment-crd-anc-bt>div{
        height: 150px !important;
        width: 150px !important;
        padding: 0px;
    }
    .entertainment-card-img {
    }
    .entertainment-sm-news {
        left: -32px;
        top: 20px;
        /* padding: 20px; */
    }
    .entertainment-more-btn {
        position: relative;
        top: -130px;
        left: 20px;
    }
}

@media (max-width: 330px) {
    .entertainment-crd-anc-tp>div,
    .entertainment-crd-anc-bt>div{
        height: 150px !important;
        width: 130px !important;
        padding: 0px;
    }
    .entertainment-sm-news {
        left: -42px;
        top: 20px;
        /* padding: 20px; */
    }
    .entertainment-description{
        padding-right: 10px;
        white-space: break-spaces;
    }
}