.pod-bg {
  background-color: #302f2f;
  height: 100%;
  color: #fff;
}
.pod-content {
  margin-top: 127px;
}
.pod-content-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
}

@media (max-width: 1250px) {
  .pod-content {
    margin-top: 111px;
  }
}
