.homepage-podcast{
    margin-top: 3rem;
}

.homepage-podcast--heading{
    margin-bottom: 3rem;
    color: var(--color-red-2);
}


.homepage-podcast--wrapper{
    width: 100%;
    background-color: var(--pod-black-1);
    background-color: var(--pod-white-1);
    margin: 0;
    gap: 10px;
}

.homepage-podcast--card{
    cursor: pointer;
    display: flex;
    width: 20%;
    padding: 0;
}

.homepage-podcast--description{
    padding: 10px;
    color: var(--pod-white-1);
    color: var(--pod-black-1);
    overflow: hidden;
    width: 50%;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
}

.homepage-podcast--description p{
    margin-top: 2rem;
}

.homepage-podcast--description strong{
    font-size: 14px;
    line-height: 16px;
}

.homepage-podcast--description span{
    color: var(--color-red-2);
}

.homepage-podcast--description .audio-svg-icon{
    background-color: black;
    width: 20%;
    margin-bottom: 0.7rem;
}

.homepage-podcast--image{
    width: 50%;
    height: 200px;
}

.homepage-podcast--image img{
    width: 100%;
    height: 100%;
}

.desc{
    display: none;
}


@media (min-width: 1000px){

    .homepage-podcast--wrapper{
        gap: 0px;
    }

    .homepage-podcast--description{
        width: 70%;
        display: block;
        padding: 0 10px;
    }

    .homepage-podcast--description span{
        font-weight: 700;
    }

    .homepage-podcast--description strong{
        font-size: 12px;
    }
    
    .homepage-podcast--image{
        width: 30%;
        height: 56%;
    }

    .homepage-podcast--description .desc{
        font-size: 14px;
        font-weight: 400;

    }

    .homepage-podcast--description .audio-svg-icon{
        width: 10%;
    }
}