.pod-card-body {
  padding-top: 1rem;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.pod-title {
  color: #000;
}

.more-pod {
  background-color: #000;
  color: #fff;
  padding: 5px;
  margin: 1rem 0;
}
.more-pod:hover {
  color: #fff;
}
.fa-microphone-alt {
  position: absolute;
  top: 0;
  left: 0;
  height: 45px;
  background-color: transparent;
}
