:root{
    --pod-black-1: #000000;
    --pod-white-1: #FFFFFF;
    --pod-red-1: #FF0000;
}

.big_screen_burger{
    font-size: 25px;
}

.small_screen_burger{
    font-size: 25px;
}

.podcast_container .container-fluid{
    padding: 0;
}

.pod_top_section{
    padding: 20px 30px 10px 30px;
}

.ongoing_podcast_signal{
    margin-bottom: 0;
}

.ongoing_podcast_caption{
    padding-left: 12px;
    margin-bottom: 0px;
}

.live_dot_signal{
    color: var(--pod-red-1);
    background: red;
    border-radius: 50%;
}

.pod_top_section .watch_btn{
    background-color: var(--pod-white-1);
    padding: 1px 9px;
    border-radius: 50%;
    margin: 0px 10px;
    color: var(--pod-red-1);
    font-weight: 700;
}


.podcast_container{
    background-color: var(--pod-black-1);
    color: var(--pod-white-1);
    min-height: 100vh;
}

.podcast_container .navbar{
    border-bottom: 2px solid #FFFFFF;
    width: 100%;
    padding: 20px 30px;
    padding-right: 100px;
}

.podcast_container .navbar-collapse{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.podcast_container ul{
    padding-left: 100px;
    transition: 0.4s ease;


}
.podcast_container a.nav-link{
    height: fit-content;
    padding: 0px 30px;
    text-transform: uppercase;
    font-size: 13px;
    margin-left: 15px;    
    position: relative;
    white-space: nowrap;
}

.podcast_container a.nav-link::before{
    content: "";
    background-color: #FFFFFF;
    position: absolute;
    height: 100%;
    width: 3px;
    right: 0;
    top: 0;
    margin: 0px -10px;
}

.podcast_container .nav-link.subscription_btn{
    background-color: var(--color-red-2);
    border: 1px solid var(--color-red-2);
}

.podcast_container .nav-link.podcast_login_navlink{
    padding-left: 70px;
}


.podcast_container .nav-link.subscription_btn::before,
.podcast_container .nav-link.podcast_login_navlink::before{
    display: none;
}

@media(max-width: 1200px){
    .podcast_container .navbar .container-fluid{
        justify-content: flex-start;
    }

    .podcast_container ul{
        padding-left: 0px;
    }

    .podcast_container .nav-link.podcast_login_navlink{
        padding-left: 3px;
    }
    
    .navbar-brand{
        display: none;
    }

}


@media(max-width: 990px){

    .big_screen_burger{
        display: none;
    }

    .podcast_container .navbar-collapse{
        width: 100%;
        /* display: none; */
        /* justify-content: space-between; */
    }
    
    .podcast_container a.nav-link {
        padding: 0px 0px;
        line-height: 3;
        margin-left: 0px;
    }
    .podcast_container a.nav-link::before{
        display: none;
    }

    .podcast_container .nav-link.podcast_login_navlink {
        margin-left: 0px;
    }

    .podcast_container .nav-link.subscription_btn{
        padding: 0px 10px;
    }

}







.pod_big_frame{
    /* background-color: #555; */
    width: 100%;
    min-height: 100vh;
    padding: 0px 100px;
}


.pod_play_board{
    /* background: red; */
    height: 437px;
    width: 100%;
    display: flex;
    padding: 0px 20px 50px 0px;
}

.current_pod_screen{
    /* background: green; */
    width: 70%;
    height: 100%;

}

.current_pod_caption{
    margin-top: 20px;
}

.small_pod_screen{
    /* background: yellow; */
    background-color: #2d2d2d;
    width: 30%;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.small_pod_screen .pod_card_wrapper{
    width: 100%;
    display: flex;
    padding-bottom: 20px
}


.pod_caption{
    padding-left: 6px;
    align-self: flex-end;
    width: 60%;
}

.pod_caption p{
    /* reset p tag margin from newspaper */
    margin: 0;
    font-size: 13px;
    font-weight: 100;
    width: 14ch;
}

.pod_card_image{
    width: 100%;
}


.pod_image{
    width: 100%;
    height: 100%;
}


@media(max-width: 950px){

    .pod_big_frame{
        /* background-color: #555; */
        width: 100%;
        min-height: 100vh;
        padding: 0px 100px;
        margin-top: 20px;
        padding-bottom: 100px;
    }
    
    
    .pod_play_board{
        /* background: red; */
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 0px 0px 0px 0px;
    }
    
    .current_pod_screen{
        /* background: green; */
        width: 100%;
    
    }
    
    .current_pod_caption{
        margin-top: 20px;
    }
    
    .small_pod_screen{
        /* background: yellow; */
        background-color: #2d2d2d;
        width: 100%;
        padding: 20px 10px;
        gap: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }
    
    .small_pod_screen .pod_card_wrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-bottom: 20px
    }

        
    .pod_caption{
        padding-left: 2px;
        margin-top: 10px;
        align-self: flex-start;
        width: 100%;
    }

    .pod_caption p{
        /* reset p tag margin from newspaper */
        margin: 0;
        font-size: 13px;
        font-weight: 100;
        width: 100%;
    }

    .pod_card_image{
        width: 100%;
    }


    .pod_image{
        width: 100%;
        height: 100%;
    }

}


@media(max-width: 600px){
    .pod_big_frame{
        /* background-color: #555; */
        width: 100%;
        min-height: 100vh;
        padding: 0px 30px;
        margin-top: 20px;
        padding-bottom: 50px;
    }
}