html, body{
    /* font-family: ; */
}

div.custom-container{
    padding-right: 50px !important;
    padding-left: 50px !important;
}

/* fonts */

.custom-categories-heading{
    font-size: 32px !important;
}

.custom-news-heading{

}
/* latest news */
.custom-news-title{
    font-weight: 500 !important;
    line-height: 1.3 !important;
    text-align: left !important;
    font-size: 16px !important;
    margin: 5px 0px 0px 0px !important;
    /* padding: 0rem 1rem 0rem 0rem; */
}


.custom-card-body{
}




@media (max-width: 930px){
    div.custom-container{
        padding-right: 15px !important;
        padding-left: 15px !important;
    }
    .custom-categories-heading{
        font-size: 23px !important;
    }
    /* latest news */
    .custom-news-title{
        font-size: 14px !important;
    }
    
}

@media (max-width: 576px){
    .custom-categories-heading{
        font-size: 20px !important;
    }
}