.single_podcast{
    background-color: #2d2d2d;
    width: 100%;
    transition: 1.5s ease;
    min-height: 100vh;
}


.single_podcast_title{
    transition: 0.5s ease;
    background-color: #FFFFFF;
    padding-top: 30px;
    padding-left: 200px;
    padding-bottom: 5px;
    color: #000000;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.single_podcast_title > div{
    width: 55ch;
}
.single_podcast_title h1{
    font-size: 3rem;
    line-height: 1;

}


.single_podcast_wrap{
    padding: 30px 160px;
}

.podcast_body .published_date{
    padding: 0px 50px 10px 50px;
    color: #FFFFFF;
}

.full_podcast_caption{
    display: flex;
}

.full_podcast_caption .pod_share{
    background: #FF0000;
    padding: 10px;
    margin-right: 10px;
}

.pod_share i{
    font-size: 20px;
    padding-bottom: 20px;
}

.podcast_body .full_podcast_caption{
    color: #FFFFFF;
    font-size: 16px;
    line-height: 1.3;
}

.single_podcast_wrap .left-ads{
    width: 100%;
    margin-top: 30px;
}

.single_podcast_wrap .left-ads img{
    width: 100%;
}

@media(max-width: 900px){
    .single_podcast_title{
        padding: 25px 50px 5px 50px;
    }
    
    .single_podcast_title h1{
        font-size: 2rem;
        text-align: left;
    }
}